.vscode

__pycache__

root@localhost Session.sql

face_data

training_data

${workspaceFolder}

output

svg

bbc.pdf

a.pdf

server Session.sql

Face_Base Session.sql

db.sqlite3

assets/temp/temp.jpg

face_recog_server/media/pdf/staff_detail.pdf
face_recog_server/media/pdf/student_detail.pdf

print.png
.pdf
face_recog_server/db.sqlite3
