* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
}
QLabel {
	font-weight: 600;
	text-transform: uppercase;
}
QPushButton {
	text-transform: uppercase;
	font-weight: 600;
	border-radius: none;
	background: #1abc9c;
	color: #fff;
	font-size: 20px;
	padding: 5px;
	margin: 0 100px;
}

QPushButton:pressed {
	background: #16a085;
}

QLineEdit {
	border-radius: 0;
	border-bottom: 2px solid #bdc3c7;
	padding: 5px;
}

QLineEdit:focus {
	border-bottom: 2px solid #1abc9c;
}
